body {
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url("photos/papers.co-ad38-imagine-dragons-top-36-3840x2400-4k-wallpaper.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust to desired height */
}

.gallery {
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 35s linear infinite;
}

.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer; /* Add pointer cursor to indicate clickable */
}

/* New CSS for animation pause on hover */
.gallery span:hover {
    animation-play-state: paused;
}

.copyright {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    margin-top: 20px;
}

.copyright a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.copyright a:hover {
    color: #ffa500;
}

@keyframes rotate {
    from {
        transform: perspective(1200px) rotateY(0deg);
    }
  
    to {
        transform: perspective(1200px) rotateY(360deg);
    }
}
